*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

header{
background:#111827;
padding:15px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:50px;
}

.profile-pic{
width:180px;
height:180px;
border-radius:50%;
border:5px solid #38bdf8;
}

button{
margin-top:20px;
padding:12px 25px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
font-size:18px;
border-radius:10px;
}

section{
padding:50px;
}

.skill{
display:inline-block;
padding:10px 20px;
margin:10px;
background:#2563eb;
border-radius:20px;
}

.card{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:10px;
}

footer{
background:#111827;
text-align:center;
padding:20px;
}
